<p id="alert"><%= alert %></p>
<h1>2要素認証</h1>
<div>
<%= link_to "認証デバイス設定", device_setting_url %>
<p>デバイス登録済みのユーザは、コード認証画面に遷移されます。</p>
</div>
<div>
<%= link_to "コード認証", mfa_auth_url %>
</div>
<br>
<div>
<%= link_to "ホーム", root_url %>
</div>
